// COLORS
$color-background: #fafbfc;
$color-foreground: #4a4a4a;
$color-border: #e7e7e7;
$color-alternate: #787878;
$color-metadata: #777;
$color-codebg: #333333;
$color-link: #8085C1;
$color-title: #4a4a4a;
$color-link-post: #444;
$color-link-post-hover: #777;
$color-link-underline: #8085C1;
$color-link-hover: #555;
$color-separator: #555;
$color-code: #ddd;
$color-code-background: #eef;
$color-post-data: #8a8a8a;

// FONT
$font-url-code: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";
$font-url: "https://fonts.googleapis.com/css?family=Raleway:300,400,700";
$font-family: Raleway, Lato;
$font-family-syntax: 'Source Sans Pro', Arial, sans-serif;
$font-family-post-data: Monaco, Roboto, 'Courier New', monospace;

// BREAKPOINTS
$br: 600px;
